*{
    padding: 0%;
    margin: 0%;
}
@font-face {
    font-family: eightBit;
    src: url(/font/Quinquefive-ALoRM.ttf);
}

body{
    background-image: url(/img/home.png);
    background-size: 100% 100vh;
}

/*Header Icons*/
.headerSpace{
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 2vh;
}
.headerIcon{
    width: 10vh;
    height: 10vh;
    cursor: pointer;
}
.headerIcon:hover{
    filter: invert(1);
}

/*Posicao de cada estrutura*/
.firstArea{
    max-height: 10%;
    max-width: 33%;
    bottom: 50vh;
    position: relative;
    top: 26vh;
    z-index: 0;
    line-height: 0%;
}
.secondArea{
    max-height: 10%;
    max-width: 34%;
    position: relative;
    bottom: 19.8vh;
    left: 29%;
    z-index: 0;
    line-height: 0%;
}
.thirdArea{
    max-height: 10%;
    max-width: 34%;
    position: relative;
    bottom: 5vh;
    right: 6vh;
    float: right;
    z-index: 0;
    line-height: 0%;
}

/*Tamanho de cada estrutura*/
.escolaEstrutura{
    width: 95%;
    height: 40vh;
}
.bancoEstrutura{
    width: 150%;
    height: 45vh;
}
.predioEstrutura{
    width: 114.5%;
    height: 30vh;
}

/*Titulos das Areas*/
.tituloArea{
    position: relative;
    line-height: 0%;
    font-family: eightBit;
    text-align: center;
    color: white;
}
/*Posicao dos Titulos*/
#eticaTitle{
    bottom: 5vh;
    left: 20vh;
    display: none;
}
#economiaTitle{
    left: 30vh;
    bottom: 5vh;
    display: none;
}
#guerraTitle{
    left: 5vh;
    bottom: 5vh;
    display: none;
}

/*Seu Receio*/
.openForm{
    background-color: rgb(205, 205, 205, 0.7);
    height: 6vh;
    width: 100%;
    position: fixed;
    bottom: 0vh;
    filter: blur(20px);
    opacity: 0;
}
.openForm:hover{
    opacity: 1;
    cursor: pointer;
    animation-name: fadeIn;
    animation-duration: 0.5s;
    animation-timing-function:ease-in;
}
.popUp hr{
    background-color: black; 
    margin: 4vh 0vh 4vh 0vh;
}
.textHr{
    margin: 2vh auto 2vh auto !important; 
    width: 80%;
}
.popUp{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid ghostwhite;
    border-radius: 10px;
    z-index: 10;
    background-color: ghostwhite;
    width: 500px;
    max-width: 80%;
    padding: 3vh;
    display: none;
}
.popUpText, .popUpTitle, .popUpClose{
    color: black;
}
.popUpText{
    align-self: center;
    text-align: justify;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 0vh 2vh 0vh 2vh;
}
.popUpTitle, .popUpClose{
    font-family: eightBit;
}
.popUpHeader{
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.popUpMain{
    display: flex;
    flex-direction:row;
}
.popUpFooter input{
    width: 100%;
    height: 5vh;
    font-size: large;
}
.popUpClose:hover{
    color: grey;
    cursor: pointer;
}

/*Overlay*/
#overlay{
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .6);
    pointer-events: none;
}

/*animated*/
.animatedGetUp{
    animation-name: getUp;
    animation-duration: 1.5s;
    animation-timing-function:ease-in;
}
.animatedFadeIn{
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-timing-function:ease-in;
}

@keyframes getUp {
    0% { top: 150vh; }
    100% { top: 50vh; }
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}