*{
    padding: 0%;
    margin: 0%;
}
@font-face {
    font-family: eightBit;
    src: url(/font/Quinquefive-ALoRM.ttf);
}

body{
    background-image: url(/img/home.png);
    background-size: 100% 100vh;
}

/*Header Icons*/
.headerSpace{
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 2vh;
}
.headerIcon{
    width: 10vh;
    height: 10vh;
}

/*Posicao de cada estrutura*/
.firstArea{
    max-height: 10%;
    max-width: 33%;
    bottom: 50vh;
    position: relative;
    top: 26vh;
    z-index: 0;
    line-height: 0%;
}
.secondArea{
    max-height: 10%;
    max-width: 34%;
    position: relative;
    bottom: 19.8vh;
    left: 29%;
    z-index: 0;
    line-height: 0%;
}
.thirdArea{
    max-height: 10%;
    max-width: 34%;
    position: relative;
    bottom: 5vh;
    right: 6vh;
    float: right;
    z-index: 0;
    line-height: 0%;
}

/*Tamanho de cada estrutura*/
.escolaEstrutura{
    width: 95%;
    height: 40vh;
}
.bancoEstrutura{
    width: 150%;
    height: 45vh;
}
.predioEstrutura{
    width: 114.5%;
    height: 30vh;
}

/*Titulos das Areas*/
.tituloArea{
    position: relative;
    line-height: 0%;
    font-family: eightBit;
    text-align: center;
    color: white;
}
/*Posicao dos Titulos*/
#eticaTitle{
    bottom: 5vh;
    left: 20vh;
    display: none;
}
#economiaTitle{
    left: 30vh;
    bottom: 5vh;
    display: none;
}
#guerraTitle{
    left: 5vh;
    bottom: 5vh;
    display: none;
}

/*Overlay*/
#overlay{
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .6);
    pointer-events: none;
}